<!doctype html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div th:fragment="kanban">
    <table class="w-full">
        <thead>
        <tr>
            <th>Backlog</th>
            <th>In Progress</th>
            <th>Done</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Task 1</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th>Task 2</th>
        </tr>
        <tr>
            <th></th>
            <th>Task 3</th>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
