<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="new(collection)">
    <form th:hx-post="|/entries/${collection}/|" hx-target="this" hx-swap="outerHtml">
        <label>
            <input name="summary" placeholder="Summary.." size="64" required>
        </label>
        <br/>
        <label>
            Description
            <button type="button" th:replace="~{fragments/ui/button::button('Generate')}">Generate</button>
            <br/>
            <textarea name="description" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Action description.."></textarea>
        </label>
        <br/>
        <label id="due">
            Due
            <input type="date" name="due[value:date]">
        </label>
        <br/>
        <label id="link">
            Link
            <select name="link[linkrel]">
                <option>Alternate</option>
                <option>External</option>
                <option>Next</option>
                <option>Prev</option>
                <option>Related</option>
                <option>Replies</option>
            </select>
            <input type="url" name="link" placeholder="URL">
        </label>
        <br/>
        <label>
            Assigned to
            <input name="assignee" placeholder="Individuals..">
        </label>
        <label>
            Priority
            <select name="priority">
                <option>High</option>
                <option>Medium</option>
                <option>Low</option>
            </select>
        </label>
        <br/>
        <label>
            Estimated duration
            <select name="estimated-duration">
                <option>1h</option>
                <option>1d</option>
                <option>1w</option>
            </select>
        </label>
        <label>
            <input name="categories" placeholder="Categories..">
        </label>
        <br/>
        <label>
            Parent
            <input name="related_to[reltype:parent]" placeholder="URL/UID">
        </label>
        <br/>
        <label>
            Related
            <select name="related-to.reltype">
                <option value="child">Child</option>
                <option value="first">First</option>
                <option value="next">Next</option>
                <option value="depends-on">Depends On</option>
                <option value="refid">Reference</option>
                <option value="concept">Concept</option>
            </select>
            <input name="related-to" placeholder="URL/UID">
        </label>
        <br/>
        <label>
            Backlog
            <input name="refid" placeholder="Reference..">
        </label>
    </form>
</div>

<div th:fragment="edit(collection, action)"></div>

<div th:fragment="view(action, collection)">
    <nav th:replace="~{fragments/ui/breadcrumb::default}"></nav>
    <h1 th:replace="~{ical4j/fragments/component/summary::h2(${entry.Components[0]})}">View Action</h1>
    <div class="flex">
        <div class="flex-auto">
            <h4>Details</h4>
            <h4>Recurrences</h4>
            <h4>Notifications</h4>
        </div>
        <div class="flex-none">
            <h4>Participants</h4>
            <ul>
                <li>Example 1</li>
            </ul>
            <h4>Related</h4>
            <ul>
                <li>Parent: None</li>
            </ul>
            <h4>Links</h4>
            <ul>
                <li><a href="#">Link 1</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
