<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Filters</title>
</head>

<body>

<div th:fragment="fixedFilters(collection, target)">
    <form id="filter-form" th:hx-get="|/entries/${collection.displayName}/|"
          hx-trigger="submit" hx-target="#content-view">
        <label class="dark:text-gray-400 dark:hover:text-white">
            <input type="checkbox" onchange="toggleAllFilters(this.checked)">
            All
        </label>
        <label class="dark:text-gray-400 dark:hover:text-white">
            <input type="checkbox" name="concept" value="semcal:concept:action">
            Actions
        </label>
        <label class="dark:text-gray-400 dark:hover:text-white">
            <input type="checkbox" name="concept" value="semcal:concept:availability">
            Availability
        </label>
        <label class="dark:text-gray-400 dark:hover:text-white">
            <input type="checkbox" name="concept" value="semcal:concept:event">
            Events
        </label>
        <label class="dark:text-gray-400 dark:hover:text-white">
            <input type="checkbox" name="concept" value="semcal:concept:issue">
            Issues
        </label>
        <label class="dark:text-gray-400 dark:hover:text-white">
            <input type="checkbox" name="concept" value="semcal:concept:note">
            Notes
        </label>
        <label class="dark:text-gray-400 dark:hover:text-white">
            <input type="checkbox" name="concept" value="semcal:concept:observance">
            Observances
        </label>
        <label class="dark:text-gray-400 dark:hover:text-white">
            <input type="checkbox" name="concept" value="semcal:concept:report">
            Reports
        </label>
        <label class="dark:text-gray-400 dark:hover:text-white">
            <input type="checkbox" name="concept" value="semcal:concept:request">
            Requests
        </label>
        <label class="dark:text-gray-400 dark:hover:text-white">
            <input type="checkbox" name="concept" value="semcal:concept:resource">
            Resources
        </label>
        <button type="submit" th:replace="~{fragments/ui/button::submit('Filter')}">Filter</button>
    </form>
    <script>
        function toggleAllFilters(checked) {
            document.getElementsByName('concept').forEach(c => c.checked = checked);
        }

        function buildFilter() {
            var filter = "CONCEPT in [";
            if (document.getElementById('filterAll').selected) {
                return "";
            } else if (document.getElementById('filterActions').selected) {
                filter += "semcal:concept:action";
            }
            return filter + "]";
        }
    </script>
</div>
</body>
</html>
