<!doctype html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

<ul th:fragment="inbox" class="space-y-2 font-medium">
    <li>
        <a
                href="#"
                class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
            <th:block th:replace="~{fragments/ui/icon::inbox}"></th:block>
            <span class="ml-3">Inbox</span>
        </a>
    </li>
</ul>

</body>
</html>
