<th:block>
    <a
            href="#"
            class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
        <th:block th:replace="~{fragments/ui/icon::archive}"></th:block>
        <div class="text-sm text-gray-900 dark:text-white">
            Home
        </div>
    </a>
    <a
            href="#"
            class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
        <th:block th:replace="~{fragments/ui/icon::archive}"></th:block>
        <div class="text-sm text-gray-900 dark:text-white">
            Work
        </div>
    </a>
    <a
            href="#"
            class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
        <th:block th:replace="~{fragments/ui/icon::archive}"></th:block>
        <div class="text-sm text-gray-900 dark:text-white">
            Volunteering
        </div>
    </a>
    <a
            href="#"
            class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
        <th:block th:replace="~{fragments/ui/icon::archive}"></th:block>
        <div class="text-sm text-gray-900 dark:text-white">
            Private
        </div>
    </a>
    <a
            href="#"
            class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
        <th:block th:replace="~{fragments/ui/icon::archive}"></th:block>
        <div class="text-sm text-gray-900 dark:text-white">
            Learning
        </div>
    </a>
    <a
            href="#"
            class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 group"
    >
        <th:block th:replace="~{fragments/ui/icon::archive}"></th:block>
        <div class="text-sm text-gray-900 dark:text-white">
            Legal
        </div>
    </a>
</th:block>
